altgraph==0.17.4
asttokens==2.4.1
Babel==2.15.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
emoji==2.12.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
filelock==3.13.1
FLAML==2.1.2
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.2.0
geographiclib==2.0
geopy==2.4.1
huggingface-hub==0.23.4
humanfriendly==10.0
idna==3.7
imageio==2.34.2
intel-openmp==2021.4.0
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
lightgbm==4.4.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mkl==2021.4.0
mpmath==1.3.0
natsort==8.4.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.3
oauthlib==3.2.2
onnxruntime==1.18.1
onnxruntime-gpu==1.16.3
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
parso==0.8.4
pefile==2023.2.7
pillow==10.2.0
prompt_toolkit==3.0.47
protobuf==5.27.2
pure-eval==0.2.2
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pylustrator==1.3.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
QtAwesome==1.3.1
QtPy==2.4.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
sentence-transformers==3.0.1
six==1.16.0
stack-data==0.6.3
sympy==1.12
tbb==2021.11.0
threadpoolctl==3.5.0
tifffile==2024.7.2
tkcalendar==1.6.1
tokenizers==0.19.1
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.3
ttkthemes==3.2.2
tweepy==4.14.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
wordcloud==1.9.3
xgboost==2.0.3
